# 1. DENY ALL: Ignore everything by default
/*

# 2. REPO METADATA & HOME FILES
!/.gitignore
!/README.md
!/INSTALL.md
!/LICENSE
!/assets/
!/.zshrc

# 3. CONFIG DIRECTORY (.config/)
# We whitelist the folder first, then the specific subfolders
!/.config/

# Core Desktop & UI
!/.config/hypr/
!/.config/waybar/
!/.config/rofi/
!/.config/dunst/
!/.config/swayosd/
!/.config/wlogout/
!/.config/nwg-look/
!/.config/waypaper/
!/.config/xdg-desktop-portal/
!/.config/uwsm/
!/.config/xsettingsd/

# Terminal & Shell
!/.config/fish/
!/.config/starship/
!/.config/foot/
!/.config/ghostty/
!/.config/fastfetch/

# Apps & Tools
!/.config/nvim/
!/.config/btop/
!/.config/cava/
!/.config/imv/
!/.config/mpv/
!/.config/yazi/
!/.config/lazygit/
!/.config/Thunar/
!/.config/walker/
!/.config/elephant/
!/.config/gowall/

# Theming & Fonts
!/.config/gtk-3.0/
!/.config/gtk-4.0/
!/.config/qt5ct/
!/.config/qt6ct/
!/.config/matugen/
!/.config/tinte/
!/.config/fontconfig/

# App-Specific Themes
!/.config/Vencord/
!/.config/vesktop/
!/.config/spicetify/

# 4. LOCAL DIRECTORY (.local/)
# Essential for your modular Hyprland "source" imports
!/.local/
!/.local/bin/
!/.local/share/
!/.local/share/dotfiles/
!/.local/share/dotfiles/default/
!/.local/share/dotfiles/default/hypr/
!/.local/share/dotfiles/default/hypr/conf/
!/.local/share/dotfiles/default/hypr/conf/*.conf

# 5. SYSTEM PATCHES
!/system-patches/
